name: Hygiene

on:
  - push
  - pull_request

permissions: read-all

jobs:
  hygiene:
    name: Hygiene
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Set-up Mise
        uses: jdx/mise-action@9dc7d5dd454262207dea3ab5a06a3df6afc8ff26 # v3.4.1
        with:
          cache: false
      - run: make format-check
      - run: make lint
