name: Hygiene

on:
  - push
  - pull_request

permissions: read-all

jobs:
  hygiene:
    name: Hygiene
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set-up Mise
        uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8 # v3.6.1
        with:
          cache: false
      - run: make format-check
      - run: make lint
